@import: 'settings';

body {
    min-height: $bodyHeight;
    font-family: $bodyFontStack;
    font-size: $fontSize;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: flex; */
}


.header {
    font-size: $headerFont;
    font-family: $headerFontStack;
    font-weight: 900;
}

/* .navbar-default .navbar-nav > .active > a, */
/* .navbar-default .navbar-nav > .active > a:hover, */
/* .navbar-default .navbar-nav > .active > a:focus { */
/*     color: #000; */
/*     background-color: rgba(0, 255, 221, 1); */
/* } */

.top-buffer { margin-top: $topBuffer; }
.small-buffer { margin-top: $smallBuffer; }

.top-bar {
    border-top: 1.5*$iconPad solid $secondColor;
}

.card {
    background-color: $cardColorFade;
    padding: $smallBuffer;
    margin-bottom: $bottomMargin;
}

.card-overview {
    padding: $smallBuffer;
    margin-bottom: $bottomMargin;
}


.indent {
    margin-left: $smallBuffer;
}

.codeheader {
    font-size: $codeSize;
}

.logo {
    position: relative;
    img {
        position: absolute;
        top: 0px;
        right: 0px;
        padding-top: 0.8*$smallBuffer;
    }
}

.sideheader {
    margin-top: $smallBuffer;
}

.icon {
    /* padding-bottom: 13px; */
    margin-bottom: $medBuffer;
    padding-bottom: -$medBuffer;
    padding-left: 2*$iconPad;
    padding-right: 2*$iconPad;
}

.chimad-icon {
    padding: $iconPad;
}

.icons {
    padding-top: 0px;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
    flex-wrap: wrap;
}

.chimad-logo {
    font-family: $logoFontStack;
    font-weight: Bold !important;
    color: $logoColor !important;
}

.chimad-collections {
    color: "light-green lighten-4"
}

.navbar-text {
    font-size: $navbarFontSize;
}
/* .navbar { */
/*     font-size: 12pt; */
/* } */

/* .navbar .chimad-logo { */
/*     padding-top: 16px; */
/* } */
